* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.container {
  height: 80vh;
  position: relative;
  padding: 10px;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 10;
}

h1 {
  margin-top: 25px;
  font-size: 3em;
}

::-webkit-scrollbar {
  width: 0px;
}

button {
  margin: 10px;
  padding: 6px;
  background-color: orange;
  color: black;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
  width: 15%;
}

ul {
  margin-bottom: 25px;
  width: 100%;
}

.list {
  margin-top: 200px;
}

li {
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 5px;
}

input {
  margin: 10px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: large;
  width: 40%;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: orange;
}

.suggestions {
  top: 140px;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  z-index: 5;
  opacity: 0;
  width: 300px;
}

input:focus + .suggestions,
.suggestions:focus-within {
  opacity: 1;
}

.suggestions {
  opacity: 0;
  transition: opacity 0.3s;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

@media (max-width: 700px) {
  h1 {
    font-size: 2.5em;
  }

  button {
    font-size: large;
    width: 25%;
  }

  input {
    width: 50%;
  }

  li {
    font-size: 15px;
  }

  .list {
    margin-top: 190px;
  }

  .suggestions {
    top: 130px;
    width: 220px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 2em;
  }

  button {
    font-size: medium;
    width: 25%;
  }

  input {
    width: 50%;
  }

  li {
    font-size: small;
  }

  .suggestions {
    top: 120px;
    width: 150px;
  }
}
